Source: marker
Section: gnome
Priority: optional
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Build-Depends: debhelper-compat (= 13), libgtk-4-dev (>= 4.14), libadwaita-1-dev (>= 1.6), libgtksourceview-5-dev, libwebkitgtk-6.0-dev, libspelling-1-dev, meson, itstool, gettext
Standards-Version: 4.1.3
Homepage: https://fabiocolacio.github.io/Marker/
#Vcs-Browser: https://salsa.debian.org/debian/marker
Vcs-Git: https://github.com/fabiocolacio/Marker

Package: marker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: pandoc
Description: A GTK4 markdown editor
 Marker is a markdown editor for GNU/Linux made with GTK4 and libadwaita.
